[package]
name = "gos"
version = "0.4.0"
edition = "2024"

[dependencies]
bincode = { version = "2.0.1", features = ["serde"] }
clap = "4.5.53"
serde = { version = "1.0.228", features = ["derive"] }

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
